#page-header {
  height: 400px;
  background-color: #6fbda7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* For fixed navbar: */
  margin-top: 120px;
}

