@import 'global';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: $text-color;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: $main-font;
  font-weight: 300;
}

main {
  width: 90%;
  margin: auto;
}

.mrg1-5 {
  margin: 1.5em
}

.styled-font {
  font-family: $styled-font;
}

@media only screen and (min-width: 1024px) {

  .responsive {
    display: flex;
    margin: 120px 2em 2em;
  }

  .beside-left {
    flex: 1;
    margin: 20px;
  }

  .beside-right {
    flex: 2;
    margin: 20px;
  }
  
}

