@import 'global';

nav {
  height: 120px;
  background-color: $theme-color;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* make navbar fixed when scrolling: */
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-family: $styled-font;
  justify-self: flex-end;
  font-size: 1.5em;
  margin: 1em;
}

.write-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.arrow-icon {
  color: $red;
}


