@import 'global';

article {
  border: 3px darkgrey solid;
  margin-bottom: 1em;
}

article:hover {
  box-shadow: 5px 10px #b1aae6; 
  font-weight: 400;
    
  &:hover .handle {
    display: block;
    color: #c9c4c3;
    margin: 1em;
  }

}

.tweet-header-footer {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.username-icon {
  display: flex;
  align-items: center;
  margin: 1em;
}

.tweet-show-txt {
  margin: 1em;
  border-bottom: $text-color solid 3px;
  padding-bottom: 1em;
}

.tweet-react-icons {
  display: flex;

}

.handle {
  display: none;
}

.small-txt {
  font-size: .75em;
}

.icon-react {
  padding-left: .5em;
  color: $theme-color;
}

.sml-left-padding {
  padding-left: .5em;
}